<mat-toolbar color="primary">
  <div>
    <!--<span [textContent]="title"></span>-->
    <span>{{title}}</span>
    <a routerLink="/home" mat-button>
      <mat-icon>home</mat-icon>
      Accueil
    </a>
    <a routerLink="/rooms/list" mat-button>
      <mat-icon>room</mat-icon>
      Liste
    </a>
    <a routerLink="/rooms/create" mat-button>
      <mat-icon>add</mat-icon>
      Ajouter
    </a>
    <a routerLink="/auth/login" mat-button>
      <mat-icon>locked_in</mat-icon>
      Se connecter
    </a>

  </div>
</mat-toolbar>

<router-outlet></router-outlet>

<footer>
  <app-top-five-room></app-top-five-room>
</footer>